/* PAGE */

body {
  margin: 0;

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background: linear-gradient(135deg, #667eea, #764ba2);

  font-family: Arial;

  overflow: hidden;
}

/* MAIN BOX */

.app-container {
  width: 500px;

  height: 650px;

  background: white;

  padding: 20px;

  border-radius: 10px;

  display: flex;

  flex-direction: column;
}

/* TITLE */

h1 {
  text-align: center;

  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
}

/* FORM */

.form-section {
  flex-shrink: 0;
}

label {
  display: block;

  margin-top: 10px;
}

input,
select {
  width: 100%;

  padding: 8px;

  margin-top: 5px;
}

button {
  margin-top: 15px;

  padding: 10px;

  width: 100%;

  background: #667eea;

  color: white;

  border: none;

  border-radius: 5px;
}

/* SCROLL BOX */

.list-box {
  flex-grow: 1;

  border: 1px solid gray;

  margin-top: 10px;

  padding: 10px;

  overflow-y: auto;
}

/* LIST */

ul {
  padding: 0;

  margin: 0;

  list-style: none;
}

li {
  background: #eee;

  margin-bottom: 8px;

  padding: 8px;

  border-radius: 5px;
}
